body, html {
    font-family: "Poppins", sans-serif !important;
}

.container {
    max-width: 1340px;
    height: 100%;
}

#auth {
    padding: 32px 0px;
    height: fit-content;
    background:
    linear-gradient(#fff, #fff) left, /* Layer 1 - Red */
    linear-gradient(#6C5FBC, #6C5FBC) right; /* Layer 2 - Blue */
    background-size: 55% 100%;
    background-repeat: no-repeat;

    .buttons {
      width: 380px;
        button {
            border: 2px solid #F5F5F5;
            background-color: #F5F5F5;
            width: 48%;
            padding: 10px 0px;
        }

        button:hover, button:focus {
          border: 2px solid #6C5FBC;
        }
    }

    .signin {
      color: #3E3E3E;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;

      a {
        color: #6C5FBC !important;
        font-size: 18.9px;
        font-style: normal;
        font-weight: 700;
        text-decoration: none;
      }
    }

    .submit {
      color: #F3F5F6;
      font-family: Poppins;
      font-size: 17px;
      font-style: normal;
      font-weight: 600;
      text-transform: uppercase;
    }
    .policy {
      width: 100%;
      a {
        color:  #718096;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        text-decoration: none;
      }
    }

    .logo {
      width: 100%;
    }

    .text {
      .title {
        color: #fff;
        text-align: center;
        font-size: 40px;
        font-style: normal;
        font-weight: 600;
      }
      .desqr {
        color: #fff;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 200;
        line-height: 150%; 
        letter-spacing: 0.2px;
      }
    }
}

/* From Uiverse.io by Yaya12085 */ 
.form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 380px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 20px;
    position: relative;
  }

  .message, .signin {
    color: rgba(88, 87, 87, 0.822);
    font-size: 14px;
  }
  
  .signin {
    text-align: center;
  }
  
  .signin a {
    color: royalblue;
  }
  
  .signin a:hover {
    text-decoration: underline royalblue;
  }
  
  .flex {
    display: flex;
    width: 100%;
    gap: 6px;
  }
  
  .form label {
    position: relative;
  }
  
  .form label .input {
    width: 100%;
    padding: 25px;
    outline: 0;
    border: none;
    border-radius: 14.275px;
    background: #F5F5F5;
    border: 2px solid #F5F5F5;
    color: #6C5FBC;
    font-size: 16px;
    font-weight: 500;
  }
  
  .form label .input + div {
    position: absolute;
    left: 20px;
    top: 15px;
    color: #C2C3CB;
    /* font-size: 16px; */
    font-style: normal;
    font-weight: 600;
    cursor: text;
    transition: 0.3s ease;
  }

  .form label svg {
    transition: 0.3s ease;
    margin-right: 30px;
  }
  
  .form label .input:placeholder-shown + div {
    top: 25px;
    font-size: 16px;
  }
  
  .form label .input:focus + div,.form label .input:valid + div{
    top: 50px;
    font-size: 0.7em;
    font-weight: 600;
    color: #6C5FBC;

    svg {
      margin-right: 0px;
      transform: scale(0.6);

      path {
        fill: #6C5FBC;
      }
    }
  }

  .form label input:focus, .form .input:valid  {
     border: 2px solid #6C5FBC;
  }
  
  
  .submit {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    padding: 24px 0px;
    border-radius: 15.564px;
    background: #6C5FBC;    
    color: #F3F5F6;
    transform: .3s ease;
  }
  
  .submit:hover {
    background-color: #776bcb;
  }
  


@media (max-width: 1024px) {
  #auth {
    h1 {
      font-size: 25px !important;
      font-weight: 600 !important;
    }

    .buttons {
      width: 270px;
    }

    .form label .input:placeholder-shown + div{
      font-size: 12px ;
      font-style: normal;
      font-weight: 600;
    }

    .form label .input {
      padding: 17px;
    }

    .form {
      width: 270px;
    }
    .form label .input + div {
      left: 15px;
      top: 23px;
    }

    .form label .input:focus + div,.form label .input:valid + div{
      top: 40px;
      font-size: 0.7em;
      font-weight: 500;
      color: #6C5FBC;
  
      svg {
        margin-right: 0px;
        transform: scale(0.6);
  
        path {
          fill: #6C5FBC;
        }
      }
    }

    .submit {
      font-size: 12px;
      font-style: normal;
      font-weight: 600;
      padding: 17px 0px;
    }

    .signin {
      font-size: 13px;
      font-style: normal;
      font-weight: 400;

      a {
        color: #6C5FBC;
        font-size: 13px;
        font-weight: 700;
      }
    }

    .policy {
      a {
        font-size: 11px;
        font-weight: 500;
      }
    }

    .text {
      width: 80%;
      margin: 50px auto 0px auto;
      .title {
        font-size: 28px;
        font-style: normal;
        font-weight: 800;
      }
      .desqr {
        text-align: center;
        font-size: 9px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        opacity: 0.7;
      }
    }

  }
}

@media (max-width: 767px) {
  #auth {
    background: #fff;

    .buttons {
      width: 100%;
    }
    
    .form {
      width: 100%;
    }

   div > div > div.col-12.col-md-7.d-flex.flex-column.align-items-center > div:nth-child(2) {
    width: 80%;
    padding: 30px 0px !important;
   }
  }
}